<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69486911602-d45ldn947l2j5d7ofktds9v2vgpa2sli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69486911602-d45ldn947l2j5d7ofktds9v2vgpa2sli</string>
	<key>API_KEY</key>
	<string>AIzaSyD5B-hTeW9aE6ZiLLvNUgPkIdhoofLTVac</string>
	<key>GCM_SENDER_ID</key>
	<string>69486911602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>C.A.V.S.S.PIPE</string>
	<key>PROJECT_ID</key>
	<string>pipe-e7fc7</string>
	<key>STORAGE_BUCKET</key>
	<string>pipe-e7fc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69486911602:ios:bcb5c4a4dd1b59c55322eb</string>
	<key>DATABASE_URL</key>
	<string>https://pipe-e7fc7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>